.container {
  display       : inline-block;
  vertical-align: middle;
}

.foregroundImage {
  z-index : 1;
  position: relative;
  display : block;
}

.backgroundImage {
  position: absolute;
  display : block;
}