.header {
  background    : rgb(149, 27, 27);
  padding       : 10px 16px;
  text-transform: uppercase;
}

.headerInfo {
  font-family  : Hind, sans-serif;
  color        : #FFFFFF99;
  margin-bottom: -6px;
}

.title {
  font-family: Ramabhadra,
    sans-serif;
  font-size: 130%;
  color    : white;
}