.container {}

.headerInfo {
  font-family   : Hind, sans-serif;
  color         : #FFFFFF99;
  margin-bottom : -6px;
  user-select   : none;
  font-size     : 16px;
  text-transform: uppercase;
}

.title {
  font-family: Ramabhadra,
    sans-serif;
  font-size: 130%;
  color    : white;
  width    : 80%;
}

.categoryTitle {
  margin-top   : 50px;
  margin-bottom: 50px;
}