.header {
  background    : rgb(149, 27, 27);
  padding       : 10px 16px;
  text-transform: uppercase;
  margin-bottom : 24px;
}

.headerInfo {
  font-family  : Hind, sans-serif;
  color        : #FFFFFF99;
  margin-bottom: -6px;
  user-select  : none;
  font-size    : 16px;
}

.title {
  font-family: Ramabhadra,
    sans-serif;
  font-size: 130%;
  color    : white;
}

.categoryTitle {
  font-family: Ramabhadra,
    sans-serif;
  font-size     : 130%;
  text-transform: uppercase;
  user-select   : none;

  &.features {
    color: rgb(49, 174, 190);
  }
}