.container {
  display: flex;
}

.desktopNavigation {
  width    : 160px;
  min-width: 160px;
  max-width: 160px;
}

.navigation {
  width      : 160px;
  min-width  : 160px;
  max-width  : 160px;
  user-select: none;
}

.link {
  display: block;
}

.activeLink {
  color         : white;
  cursor        : text;
  pointer-events: none;
}

.content {
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}