.container {
  display: flex;
}

.navigation {
  min-width: 120px;
  max-width: 200px;
}

.link {
  display: block;
}

.activeLink {
  color         : white;
  cursor        : text;
  pointer-events: none;
}

.content {
  flex: 1;
}