.container {}

.SurvivorBox {
  margin-bottom: 10px;
  margin-top   : 10px;
  font-size    : 120%;
}

.description {
  margin-bottom: 20px;
  margin-top   : 20px;
}

.content {
  display      : flex;
  place-content: space-between;
  font-size    : 120%;
}

.perk {
  margin-bottom: -1em;
  margin-top   : -1em;
}

.perks>*:nth-child(1)>*:nth-child(1) {
  margin-left: 1em;
}

.perks>*:nth-child(3)>*:nth-child(1) {
  margin-left: 1em;
}

@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
    font-size     : 100%;
  }
}