.container {}

.icon {
  width         : 2em;
  height        : 2em;
  margin-top    : -1em;
  margin-bottom : -1em;
  margin-right  : 0.1em;
  vertical-align: middle;
}

.background {
  width         : 2.5em;
  height        : 2.5em;
  margin-top    : -1em;
  margin-bottom : -1em;
  vertical-align: middle;
  margin-right  : -2.25em;
}

.teachable {
  color: #ef7731;
}