.container {
  color      : #fdbe2b;
  white-space: nowrap;
}

.inline {
  .icon {
    width         : 1.5em;
    margin-top    : -1em;
    margin-bottom : -1em;
    margin-right  : 0.25em;
    vertical-align: middle;
  }
}

.large {
  text-transform: uppercase;
  font-family   : Ramabhadra,
    sans-serif;

  .icon {
    width         : 4em;
    margin-top    : -1em;
    margin-bottom : -1em;
    vertical-align: middle;
    margin-right  : 0.5em;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    color      : #fdbe2b;
    white-space: initial;
  }
}