.container {
  color      : #da4747;
  white-space: nowrap;
}

.inline .icon {
  width         : auto;
  height        : 1em;
  margin-top    : -1em;
  margin-bottom : -1em;
  margin-right  : 0.25em;
  vertical-align: middle;
  outline       : 1px solid #da47476e;
}

.large {
  text-transform: uppercase;
  font-family   : Ramabhadra,
    sans-serif;
  margin-left: 20px;

  .icon {
    width         : 2.4em;
    vertical-align: middle;
    outline       : 1px solid #da47476e;
    margin-right  : 0.75em;
  }
}