.container {}

.introduction {
  display        : flex;
  justify-content: space-evenly;
  align-items    : flex-start;
}

.description {
  width: 20em;
}

.icon {
  width     : 180px;
  height    : 120px;
  margin-top: 10px;
}