$color: rgb(218, 218, 218);
$background: rgb(53, 53, 53);

:global {
  .rc-input-number {
    background: $background;
  }

  .rc-input-number-input {
    background: none;
    color: $color;
  }

  .rc-input-number-handler-up-inner,
  .rc-input-number-handler-down-inner {
    color: $color;
  }

  .rc-input-number-handler {
    line-height: 9px;
  }
}