@import url("modern-normalize");
@import url("https://fonts.googleapis.com/css?family=Ramabhadra&display=swap&subset=telugu");
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

html {
  background: black;
}

body {
  color      : #DCDDDE;
  background : black;
  font-family: Roboto Condensed, sans-serif;
  font-size  : 20px;
  line-height: 120%;
}

.container {
  max-width    : 800px;
  margin       : 0 auto;
  margin-top   : 20px;
  margin-bottom: 80px;
}

::-webkit-scrollbar {
  width      : 6px;
  border-left: 1px solid rgba(255, 255, 255, 0.212);
}

::-webkit-scrollbar-thumb {
  width     : 6px;
  background: rgb(146, 22, 22);
}

:global {
  a {
    color          : rgb(59, 189, 98);
    text-decoration: none;
  }

  a:hover {
    color: rgb(112, 231, 148);
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width    : 100vw;
    margin   : 0;
    max-width: unset;
  }

  body {
    font-size : 16px;
    overflow-x: hidden;
  }
}