@import url("modern-normalize");
@import url("https://fonts.googleapis.com/css?family=Ramabhadra&display=swap&subset=telugu");
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

body {
  color      : #DCDDDE;
  background : black;
  font-family: Roboto Condensed, sans-serif;
}

img {
  user-select: none;
}

#containerWithId {
  max-width    : 800px;
  margin       : 0 auto;
  margin-top   : 20px;
  margin-bottom: 80px;
  font-size    : 20px;
}

::-webkit-scrollbar,
select::-webkit-scrollbar {
  width      : 6px;
  border-left: 1px solid rgba(255, 255, 255, 0.212);
}

::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
  width     : 6px;
  background: rgb(146, 22, 22);
}

a {
  color          : rgb(59, 189, 98);
  text-decoration: none;
}

a:hover {
  color: rgb(112, 231, 148);
}

select {
  background: black;
  color     : white;
  padding   : 4px;
  width     : 240px;
}

button {
  background    : black;
  color         : rgb(112, 231, 148);
  cursor        : pointer;
  padding-top   : 4px;
  padding-bottom: 4px;
  padding-left  : 12px;
  padding-right : 12px;
  border        : 1px solid rgb(112, 231, 148);
  border-radius : 4px;

  &:disabled {
    color       : gray;
    border-color: gray;
    cursor      : initial;
  }
}

@media only screen and (max-width: 768px) {
  #containerWithId {
    width         : 100vw;
    margin        : 0;
    max-width     : unset;
    padding-bottom: 80px;
  }

  body {
    font-size : initial;
    overflow-x: hidden;
  }

  a:hover,
  a:active {
    color: inherit;
  }

  select {
    width: 100%;
  }

}