@import url("modern-normalize");

body {
  color: #DCDDDE;
  background: #1e1e1e;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  width: 2px;
  background: rgba(255, 255, 255, 0.1);
}

.container {
  display: flex;
}

.previews {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: 100vh;
  max-width: 200px;
}

.previewsRight {
  flex-direction: row-reverse;
}

.controls {
  height: 100vh;
  overflow: auto;
  padding: 8px;
}

.control {
  margin: 0.5em;
}