.container {
  font-size     : 52px;
  margin-bottom : 60px;
  font-family   : Hind;
  text-transform: uppercase;
  font-weight   : normal;
}

@media only screen and (max-width: 768px) {

  .container {
    font-size    : 28px;
    text-align   : center;
    margin-left  : 12px;
    margin-right : 12px;
    margin-top   : 12px;
    margin-bottom: 32px;
  }

}