.container {}

.linkList {
  display        : flex;
  justify-content: center;
  flex-wrap      : wrap;
}

.linkBox {
  border       : 1px solid #6dff6d;
  padding      : 12px;
  margin       : 4px;
  border-radius: 8px;
  min-width    : 152px;
}

.linkBoxCount {
  font-size    : 58px;
  display      : block;
  text-align   : center;
  padding      : 12px;
  margin-bottom: 12px;
}

.linkBoxText {
  text-align: center;
}

.rankSeasonProgressBar {
  border         : 1px solid #6dff6d;
  border-radius  : 6px;
  margin-top     : 22px;
  display        : flex;
  justify-content: space-between;
  margin-left    : 4px;
  margin-right   : 4px;

  >span {
    padding-left  : 6px;
    padding-right : 6px;
    padding-top   : 2px;
    padding-bottom: 2px;
  }
}

@media only screen and (max-width: 768px) {
  .linkList {
    align-items: center;
  }

  .linkBox {
    font-size: 130%;
    padding  : 0.5em;
  }
}