.container {}

.rankSeasonProgressBar {
  border         : 1px solid #6dff6d;
  border-radius  : 6px;
  margin-top     : 22px;
  display        : flex;
  justify-content: space-between;
  margin-left    : 4px;
  margin-right   : 4px;
  user-select    : none;

  >span {
    padding-left  : 6px;
    padding-right : 6px;
    padding-top   : 2px;
    padding-bottom: 2px;
  }
}

@media only screen and (max-width: 768px) {
  .linkList {
    align-items: center;
  }

  .linkBox {
    font-size: 130%;
    padding  : 0.5em;
  }
}