.container {}

.rankSeasonProgressBar {
  margin-bottom: 22px;
}

@media only screen and (max-width: 768px) {
  .linkList {
    align-items: center;
  }

  .linkBox {
    font-size: 130%;
    padding  : 0.5em;
  }
}