.listTitle {
  padding-bottom: 10px;

  tr:not(:first-child)>& {
    padding-top: 40px;
  }
}

.listTitle {
  font-size     : 30px;
  text-transform: uppercase;
  font-family   : Hind, sans-serif;
}

.characterEntry {
  vertical-align: middle;
}

.characterBox {
  display    : flex;
  align-items: center;
}

.characterBoxImage {
  height      : 2em !important;
  margin-right: 6px;
}

.perkBox {
  display    : flex;
  align-items: center;
}

.perkBoxImage {
  width        : 2.5em !important;
  margin-top   : -1em;
  margin-bottom: -1em;
}

@media only screen and (max-width: 768px) {
  .perkCell {
    display: table;
  }

  .characterBox {
    flex-direction: column-reverse;
    font-size     : 120%;
  }

  .characterBoxImage {
    height      : 4em !important;
    margin-right: 0;
    margin-top  : 0.2em;
  }

  .characterEntry {
    &>*:nth-child(2) {
      margin-top: 15px;
    }

    &>*:nth-child(4) {
      margin-bottom: 15px;
    }
  }

  .characterList {
    width          : 100%;
    border-collapse: collapse;
  }

  .listTitle {
    text-align    : center;
    padding-bottom: 20px;
  }

  .perkBox {
    display    : flex;
    align-items: center;
  }

  .perkBoxImage {
    // width : 2.5em !important;
    margin   : 0;
  }
}