.container>img {
  margin: 1px;

  &:hover {
    outline: 1px solid gray;
  }
}

.animated>.image {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-name: wiggle;
}

@keyframes wiggle {

  0%,
  100% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(30deg);
  }

  40% {
    transform: rotate(-25deg);
  }

  60% {
    transform: rotate(20deg);
  }

  80% {
    transform: rotate(-15deg);
  }

}