.container {
  padding: 10px;
  margin : 20px;

  &.perks {
    background: -webkit-linear-gradient(left, rgba(255, 204, 89, 0.25) 0%, rgba(255, 204, 89, 0) 100%);
  }

  &.killers {
    background: -webkit-linear-gradient(left, rgba(162, 16, 16, 0.25) 0%, rgba(162, 16, 16, 0) 100%);
  }

  &.survivors {
    background: -webkit-linear-gradient(left, rgba(72, 215, 239, 0.25) 0%, rgba(72, 215, 239, 0) 100%);
  }
}

.header {
  margin-top   : 20px;
  margin-bottom: 30px;
}


@media only screen and (max-width: 768px) {
  .container {
    margin-top   : 10px;
    margin-bottom: 10px;
    margin-left  : 0;
    margin-right : 0;
  }
}