.title {
  margin-left: 20px;
}

.input {
  color        : white;
  background   : black;
  border       : 1px solid gray;
  border-radius: 8px;
  padding      : 8px;
  margin       : 2px;
  outline      : none;
  resize       : none;
  width        : 100%;
}