.title {
  margin-left: 4px;
}

.input {
  color        : white;
  background   : black;
  border       : 1px solid gray;
  border-radius: 8px;
  padding      : 8px;
  margin       : 2px;
  outline      : none;
  width        : 100%;
}

input.input {
  resize: none;
}

textarea.input {
  border-top-right-radius   : 0;
  border-bottom-right-radius: 0;
  resize                    : vertical;
}