.title {
  vertical-align: middle;
  font-family   : Hind,
    sans-serif;
  line-height   : 80%;
  font-size     : 32px;
  text-transform: uppercase;

  &:hover>.entity {
    color: rgb(204, 74, 243);
  }

  &:hover>.works {
    color: rgb(79, 216, 79);
  }
}

.entity {
  color: rgb(139, 27, 173);
}

.works {
  color: rgb(45, 133, 45);
}

.icon {
  width         : 3em;
  vertical-align: middle;
  user-select   : none;
}

#container {
  margin-bottom: 20px;
}

.burgerButton {
  width   : 24px;
  height  : 18px;
  position: relative;
  float   : right;
  top     : 16px;
  right   : 8px;
}

.burgerBar {
  background: rgb(185, 185, 185);
}

.burgerBody {
  background: black;
}

.burgerItemList {
  display       : flex;
  flex-direction: column;
  font-size     : 120%;
  padding-left  : 0.5em;
  padding-top   : 40px;
  align-items   : flex-end;
}

.burgerItemList>a,
.burgerItemList span {
  padding-top   : 0.5em;
  padding-bottom: 0.5em;
}

.burgerCrossIcon {
  background: #bdc3c7;
}