.container {}

.suggestionsContainer {
  position: absolute;
}

.suggestionsList {
  display   : inline-block;
  background: black;
  border    : 1px solid white;
  box-shadow: 0 0 5px black;
  padding   : 10px;
  z-index   : 1;
}

.suggestion {
  display: block;
  color  : white;
  cursor : pointer;
}

.input {
  width: 8em;
}

.entry {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  padding        : 8px;
  margin         : 4px;
  border-radius  : 5px;

  &:hover {
    color: black;
  }
}

.entryImage {
  width       : 2.5em;
  height      : auto;
  margin-right: 0.5em;
}

.killerEntry {
  color: #da4747;

  &:hover {
    background: #da4747;
  }
}

.survivorEntry {
  color: #5ab3e7;

  &:hover {
    background: #5ab3e7;
  }
}

.perkEntry {
  color: #fdbe2b;

  &:hover {
    background: #fdbe2b;
  }
}

.offeringEntry {
  color: #9b5268;

  &:hover {
    background: #9b5268;
  }
}

.addOnEntry {
  color: #b16040;

  &:hover {
    background: #b16040;
  }
}

.addOnEntry {
  color: #5be7d4;

  &:hover {
    background: #5be7d4;
  }
}

.title {
  width: 100px;
}

.input {
  background   : black;
  border       : none;
  border-bottom: 1px solid gray;
  padding      : 4px;
  font-family  : Roboto Condensed,
    sans-serif;
  color: white;

  &:focus {
    outline: none;
  }
}