.container {}

.field {
  margin-top   : 20px;
  margin-bottom: 20px;
}

.addOnFields {
  border-left   : 1px solid white;
  padding-left  : 20px;
  padding-top   : 10px;
  padding-bottom: 10px;
}

.powerIcon {
  margin-right: 10px;
}