.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
  margin-bottom: 6px;

  &:hover>.optionName {
    color: rgb(85, 158, 255);
    transition: none;
  }
}

.optionName {
  user-select: none;
  transition: color 0.5s;
}

.inputContainer-number {
  width: 100px;
}