.container {}

.patchBlock {
  margin-top: 60px;
}

.categoryBlock {
  margin-bottom: 60px;
}

.patchCategory {
  margin-top   : 30px;
  margin-bottom: 2px;
}

@media only screen and (max-width: 768px) {
  .patchBlock {
    margin-top   : 20px;
    margin-bottom: 40px;
  }
}