.container {}

.entry {
  display      : flex;
  margin-top   : 4px;
  margin-bottom: 4px;
}

.tierBox {
  min-width      : 120px;
  margin-right   : 20px;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.killerBox {
  font-size: 140%;
}

.killerBlock {
  margin-top   : 10px;
  margin-bottom: 10px;
}

.comment {
  margin-top: 40px;
}

.description {
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {}