.container {}

.title {
  margin-bottom: 20px;
}

.perkInfo {
  display        : flex;
  justify-content: space-evenly;
  align-items    : center;
}

.description {
  width: 20em;
}

.icon {
  vertical-align: middle;
}