.container {}

.title {
  margin-bottom: 20px;
  display      : block;
  color        : #ffc542;
  width        : fit-content;

  &:hover {
    color: #ffdf95;
  }
}

.perkInfo {
  display        : flex;
  justify-content: space-evenly;
  align-items    : center;
}

.description {
  width: 20em;
}

.icon {
  vertical-align: middle;
}