.container {
  display       : inline-block;
  vertical-align: middle;
  width         : 100%;
  padding       : 10px 16px;
  margin-bottom : 24px;

  &.redTheme {
    background: linear-gradient(45deg, rgb(177, 36, 36) 15%, rgba(255, 204, 89, 0) 100%);
  }

  &.yellowTheme {
    background: linear-gradient(45deg, rgb(177, 130, 20) 15%, rgba(255, 204, 89, 0) 100%);
  }

  &.greenTheme {
    background: linear-gradient(45deg, #1f5f0f 15%, rgba(255, 204, 89, 0) 100%);
  }

  &.killerTheme {
    background: linear-gradient(45deg, rgb(136, 0, 0) 15%, rgba(255, 204, 89, 0) 100%)
  }

  &.survivorTheme {
    background: linear-gradient(45deg, rgb(49, 146, 211) 15%, rgba(255, 204, 89, 0) 100%)
  }

  &.addOnTheme {
    background: linear-gradient(45deg, rgb(121, 57, 20) 15%, rgba(255, 204, 89, 0) 100%)
  }

  &.miscTheme {
    background: linear-gradient(45deg, rgb(46, 39, 53) 15%, rgba(255, 204, 89, 0) 100%)
  }

  &.offeringTheme {
    background: linear-gradient(45deg, rgb(73, 40, 51) 15%, rgba(255, 204, 89, 0) 100%)
  }
}

.overTitle {
  font-family: Hind,
    sans-serif;
  color         : #FFFFFF99;
  line-height   : 12px;
  user-select   : none;
  font-size     : 16px;
  text-transform: uppercase;
  margin-top    : 3px;
}

.title {
  vertical-align: middle;
  font-family   : Ramabhadra,
    sans-serif;
  font-size     : 130%;
  text-transform: uppercase;
  width         : 80%;
  color         : white;
  font-weight   : normal;
  margin        : initial;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100vw;
  }
}