.container {
  outline : 1px solid rgb(29, 29, 29);
  overflow: hidden;
  width   : 528px;
  height  : 528px;
}

.downloadButton {
  margin-bottom: 20px;
}

.perk {
  display    : flex;
  align-items: center;
}

.perks .perk:nth-child(1) {
  left    : 136px;
  top     : 1px;
  position: relative;
}

.perks .perk:nth-child(2) {
  left    : 0;
  top     : -119px;
  position: relative;
}

.perks .perk:nth-child(3) {
  left    : 272px;
  top     : -375px;
  position: relative;
}

.perks .perk:nth-child(4) {
  left    : 136px;
  top     : -498px;
  position: relative;
}