:global {
  .tippy-tooltip.entity-theme {
    border    : 1px solid white;
    box-shadow: 0 0 10px black;
  }

  .tippy-tooltip.entity-theme {
    background   : black;
    border-radius: 0;
    padding      : 0;
    font-family  : Roboto Condensed,
      sans-serif;
  }

  .tippy-popper[x-placement^=bottom] .entity-theme .tippy-arrow {
    border-bottom: 7px solid black;

    &:before {
      content      : " ";
      position     : absolute;
      z-index      : -1;
      left         : -8px;
      bottom       : -5.9px;
      border-bottom: 7.5px solid white;
      border-right : 8.5px solid transparent;
      border-left  : 8.5px solid transparent;
    }
  }

  .tippy-popper[x-placement^=top] .entity-theme .tippy-arrow {
    border-top: 7px solid black;

    &:before {
      content     : " ";
      position    : absolute;
      z-index     : -1;
      left        : -8px;
      bottom      : -1.6px;
      border-top  : 7.5px solid white;
      border-right: 8.5px solid transparent;
      border-left : 8.5px solid transparent;
    }
  }
}

.container {
  text-align: left;
  font-size : 120%;

  &:not(.noPadding) {
    padding: 0.4rem 0.8rem;
  }
}