:global {
  .tippy-tooltip.entity-theme {
    color        : white;
    font-size    : 14px;
    border       : 1px solid white;
    box-shadow   : 0 0 4px black, 0 0 12px black, ;
    background   : black;
    border-radius: 0;
    padding      : 0;
    font-family  : Roboto Condensed,
      sans-serif;
    text-transform: initial;
  }
}

.container {
  text-align: left;
  font-size : 120%;

  &:not(.noPadding) {
    padding: 0.4rem 0.8rem;
  }
}