.container {}

.gamepediaEffect {
  padding-top: 44px;
}

.table {
  border-collapse: collapse;
}

.table>tbody>tr>td {
  vertical-align: top;

  &:not(:nth-child(1)) {
    border : 1px solid rgb(73, 73, 73);
    padding: 20px;
  }
}

.iconTd {
  padding-top: 14px;
}

.lineBreak {
  height: 16px;
}