.container {}

.killerBox {
  margin-bottom : 10px;
  font-size     : 120%;
  display       : flex;
  flex-direction: column-reverse;
}

.killerImage {
  height: 3em;
}

.description {
  margin-bottom: 20px;
  margin-top   : 20px;
}

.content {
  display      : flex;
  place-content: space-between;
  font-size    : 120%;
}

@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
    font-size     : 100%;
  }

  .killerBox {
    margin-top: 10px;
  }
}