.container {}

.killerBox {
  margin-bottom: 10px;
  margin-top   : 10px;
  font-size    : 120%;
}

.description {
  margin-bottom: 20px;
  margin-top   : 20px;
}

.content {
  display      : flex;
  place-content: space-between;
  font-size    : 120%;
}

.perk {
  margin-bottom: 10px;
  margin-top   : 10px;
}