.container {
  background: black;
}

.banner {
  margin-bottom: -2.2em;
  margin-right : -10px;
  margin-left  : -10px;
  margin-top   : -3px;
}

.title {
  font-size  : 24px;
  margin-left: 4px;
  text-shadow: 0 0 3px black, 0 0 10px black;
}

.content {
  margin-top: 12px;
  text-align: left;
}

.perk {
  margin-top   : 4px;
  margin-bottom: 4px;
}